@model SMS.Areas.Dashboard.ViewModels.TeacherListingModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Teacher ()</h2>
        <hr />
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-12">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Any thing here" name="searchTerm" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search mr-1"></i>Search</button>
                    <a   class="btn btn-outline-secondary" href="@Url.Action("Index","Teachers")"><i class="fas fa-retweet mr-1"></i>Reset</a>
                    <button id="btnCreate" class="btn-outline-primary" type="button" data-toggle="modal" data-target="#exampleModal"><i class="far fa-plus-square mr-1"></i>Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @{ Html.RenderPartial("_Listing",Model);}
    </div>
</div>
<!--MODAL-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>
<!--SCRIPT FOR OPENING MODAL-->
<script>
    $("#btnCreate").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Teachers")',
        })
            .done(function (response) {
                $("#exampleModal .modal-dialog").html(response);
            });
    });
</script>


