@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Nano Tech (SMS App)</h2>
    <p class="lead">This Is Student Management System Website And Web Application.
    You can Manage Student Reocord and Theier Accounts by using this Web Application.
    This Is totally Cloud Based Application.
    </p>
</div>
