@{
    ViewBag.Title = "Index";
}
<div class="row">
    <di class="col-lg-12">
        <h2>Students</h2>
        <hr />
    </di>
</div>
<div class="row mb-1">
    <di class="col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search anything Here" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-success" type="button">Search</button>
                <button class="btn btn-outline-secondary" type="button">Reset</button>
                <button id="btnCreate"class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#actionModal">Create</button>
            </div>
        </div>
    </di>
</div>
<div class="row">
    <di class="col-lg-12">
        @{Html.RenderAction("Listing"); }
    </di>
</div>
<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    
  </div>
</div>

<!--JQUERY-->
<script>
    $("#btnCreate").click(function () {

        $.ajax({
            url:'@Url.Action("Action","Students")',

        })
            .done(function(response){

                $("#actionModal .modal-dialog").html(response);
            });
    });

</script>